---
layout: archive
---

<body>
<h2>About Me</h2>
<p style="font-size:17px;">
I am a Ph.D. student at OSLAB, KAIST, under the supervision of Prof. Youjip Won. I earned my M.S. at KAIST, also under the guidance of Prof. Youjip Won, and my B.S. in Electrical and Computer Engineering (ECE) from UNIST, graduating Summa Cum Laude. My research interests lie in filesystems and storage, with a particular focus on journaling techniques. I am passionate about building crash-consistent, scalable, and high-performance filesystem.
</p>

<h2>News</h2>
<ul style="font-size:16px;">
    <li><b>[Dec,2024]</b> OPIMQ is accepted at FAST'25! Congratulations Jieun!</li>
    <li><b>[Dec,2024]</b> DJFS is accepted at FAST'25! Congratulations all!</li>
    <li><b>[Dec,2024]</b> msFSCK is accepted at SAC'25! Congratulations Juwon!</li>
    <li><b>[Dec,2022]</b> CJFS is accepted at FAST'23! Congratulations Joontaek!</li>
    <li><b>[Apr,2022]</b> O-AFA is accepted at SYSTOR'22! Congratulations all!</li>
</ul>

<h2>Education</h2>
<ul style="font-size:16px;">
    <li>[Mar, 2021 ~ Feb, 2023] M.S., Dept. of Electrical Engineering, KAIST </li>
    <li>[Mar, 2017 ~ Feb, 2021] B.S., Dept, of Electrical Engineering, UNIST </li>
</ul>

<h2>Selected Publication</h2>
<p style="font-size:16px;"> My primary area of expertise is journaling filesystems, a field I am highly confident in. If you share an interest in journaling, <b><u>CJFS</u></b> and <b><u>DJFS</u></b> can provide fascinating insights. For a complete list of my publications, please visit my <a href="https://swyoo98.github.io/publication/">Publication</a> page.</p>
<ul style="font-size:16px;">
  <li><b>[USENIX FAST]</b> <b><u>Seung Won Yoo</u></b>, Joontaek Oh, Myoengin Cheon, Bonmoo Koo, Wonseb Jeong, Hyunsub Song, Hyeonho Song, Donghun Lee, and Youjip Won, “<b><u>DJFS</u></b> : Directory-Granularity Filesystem Journaling for Memory-Semantic SSD”, In Proc. of USENIX Conference on File and Storage Technologies (FAST) 2025, Accepted for publication</li>
  <li><b>[USENIX FAST]</b> Joontaek Oh, <b><u>Seung Won Yoo</u></b>, Hojin Nam, Changwoo Min and Youjip Won, “<b><u>CJFS</u></b> : Concurrent Journaling for Better Scalability”, In Proc. of USENIX Conference on File and Storage Technologies (FAST) 2023, Feb, 20-23, 2023</li>
</ul>

<h2>Work Experiences</h2>
<ul style="font-size:16px;">
  <li>[Mar, 2021 ~ ] Research Assistant, OSLAB@KAIST</li>
  <li>[July, 2023 ~ Aug 2023] Internship at Solution Advanced Developemnt team, Samsung Electronics.</li>
</ul>

{{ content }}
