---
layout: archive
---

<body>
<h2>About Me</h2>
<p style="font-size:18px;">
I am a Ph.D student at OSLAB@KAIST, advisied by Prof. Youjip Won.
I received my M.S at KAIST, also advised by Prof. Youjip Won.
I received my B.S. in ECE at UNIST with Summa Cum Laude.
My research interests includes ... 
</p>

<h2>News</h2>
<ul style="font-size:16px;">
    <li><b>[Dec,2024]</b> DJFS is accepted at FAST'25!</li>
    <li><b>[Dec,2024]</b> msFSCK is accepted at SAC'25!</li>
</ul>

<h2>Education</h2>
<ul style="font-size:16px;">
    <li>[Mar, 2021 ~ Feb, 2023] M.S., Dept. of Electrical Engineering, KAIST </li>
    <li>[Mar, 2017 ~ Feb, 2021] B.S., Dept, of Electrical Engineering, UNIST </li>
</ul>

<h2>Selected Publication</h2>
<p style="font-size:16px;"> Up to now, the best research field that I am confident of is journlaing filesystem. If you also have interests in journlaing, CJFS and DJFS can introduce the intersting things to you. For the other publications list, see <a href="https://swyoo98.github.io/swyoo/publication/">Publication.</a></p>
<ul style="font-size:16px;">
  <li><b>[USENIX FAST]</b> <b><u>Seung Won Yoo</u></b>, Joontaek Oh, Myoengin Cheon, Bonmoo Koo, Wonseb Jeong, Hyunsub Song, Hyeonho Song, Donghun Lee, and Youjip Won, “<b><u>DJFS</u></b> : Directory-Granularity Filesystem Journaling for Memory-Semantic SSD”, In Proc. of USENIX Conference on File and Storage Technologies (FAST) 2025, Accepted for publication</li>
  <li><b>[USENIX FAST]</b> Joontaek Oh, <b><u>Seung Won Yoo</u></b>, Hojin Nam, Changwoo Min and Youjip Won, “<b><u>CJFS</u></b> : Concurrent Journaling for Better Scalability”, In Proc. of USENIX Conference on File and Storage Technologies (FAST) 2023, Feb, 20-23, 2023</li>
</ul>

<h2>Work Experiences</h2>
<ul style="font-size:16px;">
  <li>[Mar, 2021 ~ ] Research Assistant, OSLAB@KAIST</li>
  <li>[July, 2023 ~ Aug 2023] Internship at Solution Advanced Developemnt team, Samsung Electronics.</li>
</ul>

{{ content }}
