---
layout: archive
---

<body>
<h1>About Me</h1>
<p>
I am a Ph.D student at OSLAB@KAIT, advisied by Prof. Youjip Won.
I received my M.S at KAIST, also advised by Prof. Youjip Won.
I received my B.S. in ECE at UNIST with Summa Cum Laude.
</p>

<h2>News</h2>
<ul style="font-size:16px;">
    <li><b>[Dec,2024]</b> DJFS is accepted at FAST'25!</li>
    <li><b>[Dec,2024]</b> msFSCK is accepted at SAC'25!</li>
</ul>

<h2>Education</h2>
<ul style="font-size:16px;">
    <li>[Mar,2021 ~ Feb,2023] M.S., Dept. of Electrical Engineering, KAIST </li>
    <li>[Mar,2017 ~ Feb,2021] B.S., Dept, of Electrical Engineering, UNIST </li>
</ul>

<h2>Selected Publication</h2>

<h2>Work Experiences</h2>
<p>
</p>

{{ content }}
